<div class="banner" id="home_banner">
  <div class="container" id="div_position">
    <h1>Board Games <strong>brings happiness</strong> to <strong>smart people</strong>!</h1>
    <p>Board games are a wonderful way to connect with others, challenge your mind, and have fun. From the timeless classics to the latest innovations, there is a board game out there for everyone. So gather your friends and family, roll the dice, and let the games begin!.</p>
      <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-gradient" %>
  </div>
</div>
