<div class="container">
  <h1>
    <%= @game.name %>
  </h1>

  <p>
    price this : <%= @game.day_price %>
  </p>
 <%#= cl_image_tag @article.game.key, height: 300, width: 400, crop: :fill %>
  <p>
    number of players of this game is : this :<%= @game.number_players %>
  </p>
  <%#= link_to 'Edit', edit_flat_path(@flat) %>

  <%#= link_to 'Delete', flat_path(@flat), method: :delete %>
 </div>
