<div class="container">
  <h1>
    <%= @game.name %>
  </h1>

  <p>
    <%= @game.address %>
  </p>
  <p>
    <%= @game.day_price %>
  </p>
  <p>
    <%= @game.number_players %>
  </p>
  <%#= link_to 'Edit', edit_flat_path(@flat) %>
  |
  <%#= link_to 'Delete', flat_path(@flat), method: :delete %>
 </div>
