.game-new-card{
  background:url("https://images.unsplash.com/photo-1589804845133-49b5e06cc415?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80") no-repeat center center fixed;
  background-size: cover;
  margin: 10px;

}

.game_form{
  margin: 5px;
  margin-top: 4px;
}
