.notification {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(230, 232, 235);
  border-radius:0.2cm;
  h5 {
    margin: 0 0 10px;
    padding-top: 15px;
    font-weight: bold;
  }

  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
  font-weight: bold;
}
.text {
  margin-top:20px;
  h2{
    border-bottom: 1px solid #050505;
  }

}


.notification .notification-actions {
  opacity: 0.5;
  display: flex;
  transition: ease .2s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions .accept-btn {
  color: #afadad;
  margin-left: 16px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: rgb(30, 83, 28);
  }
}
.notification .notification-actions .reject-btn {
  color: #afadad;
  margin-left: 16px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: rgb(121, 55, 44);
  }
}

.button_notifications {
  a {
    text-decoration: none;
    color: white;
  }
}
