.SEARCH {
  POSITION: RELATIVE;
 }

 .SEARCH:AFTER {
   POSITION: ABSOLUTE;
   TOP: 7PX;
   RIGHT: 15PX;
 }

 .SEARCH .BTN {
   POSITION: ABSOLUTE;
   TOP: 8PX;
   BOTTOM: 8PX;
   RIGHT: 8PX;
 }
 .D-FLEX{

   COLOR: WHITE;
   PADDING: 8PX 24PX;
   BORDER-RADIUS: 4PX;
   BACKGROUND: #670BFF;
   TRANSITION: BACKGROUND 0.3S EASE;
 }
